@model JobPortalLibrary.Admin.AdminUser

@{
    ViewBag.Title = "ApplicationApprovel";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2 style="margin-left:300px">ApplicationApproval</h2>
<style>
    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }
    /* Add Animation */
    -webkit-keyframes animatetop {
        from

    {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }

    }

    keyframes animatetop {
        from

    {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }

    }


    .modal-header {
        padding: 2px 16px;
        background-color: lightblue;
        color: white;
    }

    .modal-body {
        padding: 2px 16px;
    }

    .modal-footer {
        padding: 2px 16px;
        background-color: lightblue;
        color: white;
    }
</style>

@*<script src="~/Scripts/Sweet.js"></script>
    <script src="~/Content/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            $(".sweetApprove").click(function () {
                var PostJobCode = $(this).attr("data-id");
                $.ajax({
                    url: "/Admin/Update/",
                    data: { "PostjobCode": PostJobCode },
                    success: function (Status) {
                        swal({
                            title: "Your Candidate is Approved..",
                            button: "ok",
                            // dangerMode: true,

                        })
                            .then(function () {
                                window.location.href = "/Admin/ApplicationApprovel";
                            })
                    }
                });
            });
        });
        </script>*@
@*Approvel SweetAlert*@
<script src="~/Scripts/Sweet.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script>
    $(document).ready(function () {
        $(".sweetApprove").click(function () {
            var PostJobCode = $(this).attr("data-id");
            $.ajax({
                url: "/Admin/Update/",
                data: { "PostjobCode": PostJobCode },
                success: function (Status) {
                    swal({
                        title: "This Job has been Approved..",
                        button: "ok",
                        // dangerMode: true,

                    })
                        .then(function () {
                            window.location.href = "/Admin/ApplicationApprovel";
                        })

                }
            })
        });
    });
</script>


<table class="table table-bordered table-striped mt-4 dt-responsive nowrap table-responsive" id="example" style="margin-left:300px;width:1000px; border:solid ">
    <thead>
        <tr>
            <b>
            <th style="width: 100px; text-align: center;font-size:15px">
                @Html.DisplayNameFor(model => model.PostJobCode)
            </th>
            <th style="width: 200px; text-align: center; font-size: 15px">
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th style="width: 260px; text-align: center; font-size: 15px">
                @Html.DisplayNameFor(model => model.JobDescription)
            </th>
            <th style="width: 150px; text-align: center; font-size: 15px">
                @Html.DisplayNameFor(model => model.ApplicationStartDate)
            </th>
            <th style="width: 80px; text-align: center;" font-size:15px>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th style="width: 200px; text-align: center; font-size: 15px">
                Approve/Reject
            </th>
            <th style="width: 100px;"></th>
            </b>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostJobCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rdate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td style="width:150px">


                    <button type="button" class="btn btn-success response border-success" style="background:white;">
                        <p style="font-size:20px;height:9px">
                            @*<i class="fa fa-check"></i>*@
                            @*@Html.ActionLink("Aproval", "Update", new { PostJobCode = item.PostJobCode })*@

                            @*<a href="@Url.Action("Update","Admin",new { PostjobCode = @item.PostJobCode })"> &#10004 </a>*@
                            <a class="sweetApprove" href="#" data-id="@item.PostJobCode"> &#10004 </a>
                        </p>
                    </button>

                    <button type="button" id="Reject" class="btn btn-success response border-danger" style="background:white;">
                        <p style="font-size:18px;height:9px;width:20px;">
                            @*<i class="fa fa-times"></i>*@
                            @*@Html.ActionLink("Reject", "UpdateReject", new { PostjobCode = item.PostJobCode })*@
                            <a class="RejectionReason" href="javascript:;" data-id="@item.PostJobCode"> &#10060</a>
                        </p>
                    </button>

                </td>


                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@

                    @*<button type="button" id="Details">
                            @Html.ActionLink("Details", "Details", new { PostJobCode = item.PostJobCode })
                        </button>*@
                    <a class="Details fa fa-eye" title="View" style="font-size:25px;color:black;padding:10px 10px 10px 45px" href="javascript:;" data-id="@item.PostJobCode" style="font-size:20px"></a>

                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>


            </tr>
        }
    </tbody>

</table>


<div id="partialModal" class="modal" tabindex="-1" role="dialog" style="position:center">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" style="color:black; font-size:xx-large">Post Job Details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<script type="text/javascript">
    $(function () {
        $(".Details").click(function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id')
            /* var id = $(this).closest("tr").find("td").eq(0).html();*/
            $.ajax({
                type: "GET",
                url: "/Admin/Details",
                data: { PostJobCode: id },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>
<script>
<div id="partialModal" class="modal" tabindex="-1" role="dialog" style="position:center">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" style="color:black; font-size:xx-large">User RejectReason</h3>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript">
                                    $(function () {
                                        $(".RejectionReason").click(function () {
                                            var $buttonClicked = $(this);
                                            var id = $buttonClicked.attr('data-id')
                                            /* var id = $(this).closest("tr").find("td").eq(0).html();*/
                                            $.ajax({
                                                type: "GET",
                                                url: "/Admin/RejectionReason",
                                                data: {PostJobCode:id},
                                                contentType: "application/json; charset=utf-8",
                                                dataType: "html",
                                                success: function (response) {
                                                    $("#partialModal").find(".modal-body").html(response);
                                                    $("#partialModal").modal('show');
                                                },
                                                failure: function (response) {
                                                    alert(response.responseText);
                                                },
                                                error: function (response) {
                                                    alert(response.responseText);
                                                }
                                            });
                                        });
                                    });
</script>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
        $(document).ready(function () {
            $(document).tooltip({
                track: true
            });
        });
</script>

