@model JobPortalLibrary.Admin.AdminUser

@{
    ViewBag.Title = "RPCompanyGridview";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2 style="margin-left:300px"> CompanyGridview </h2>

@*<style>
    .table {
        border: groove;
        padding: 10px;
        border-color: aqua;
    }
</style>*@
<table class="table table-bordered table-striped mt-4 dt-responsive nowrap table-responsive" style="margin-left: 300px; width: 800%;">
    <tr @*style="background-color: brown; color:lime"*@>
        <th style="width:80px; text-align: center;font-size:15px">
            View
        </th>

        <th style="width:0px; text-align: center;font-size:15px">
            @Html.HiddenFor(model => model.ReviewId)
        </th>
        <th style="width:70px; text-align: center;font-size:15px">
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th style="width:70px; text-align: center;font-size:15px">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
        <th style="width:270px; text-align: center;font-size:15px">
            @Html.DisplayNameFor(model => model.AboutCompany)
        </th>
        <th style="width:40px; text-align: center;font-size:15px">
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th style="width:90px; text-align: center;font-size:15px">
            @Html.DisplayNameFor(model => model.Review)
        </th>
        <th style="width:70px; text-align: center;font-size:15px">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th style="width:160px; text-align: center;font-size:15px">
            Status
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model.Users)
    {
        <tr style=" color: black">
            <td>

               
               <br />
                <br />
                <button type="button" class="fa fa-eye">
                    <a class="btnfetch" href="javascript:;" data-id="@item.ReviewId" >View</a>
                </button>
            </td>

            <td>
                @Html.HiddenFor(modelItem => item.ReviewId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AboutCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>


            <td style="width:100px">
               
           <br />

           <button type="button" class="btn btn-success response">
              
               @*<i class="fa fa-check"></i>*@
               @*@Html.ActionLink(".", "RPCompanyReviewStatusApprove", new { ReviewId = item.ReviewId })*@
               <a href="@Url.Action("RPCompanyReviewStatusApprove","Admin",new { ReviewId = @item.ReviewId })"> &#10003 </a>
           </button>

           <button type="button" id="Reject" class="btn btn-danger response" style="margin-left:15px">
              
               @*<i class="fa fa-times"></i>*@
               @*@Html.ActionLink(".", "RPCompanyReviewStatusReject", new { ReviewId = item.ReviewId })*@
               <a href="@Url.Action("RPCompanyReviewStatusReject","Admin",new { ReviewId = @item.ReviewId })"> &#10060 </a>
           </button>

            </td>
            
        <td>
            <br />
            <button type="button" id="Delete" >
                @Html.ActionLink("Delete", "RPCompanyIsDelete", new { ReviewId = item.ReviewId })
            </button>
        </td>

        </tr>
    }

</table>

<div id="partialModal" class="modal" tabindex="-1" role="dialog" style="position:center">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" style="color:lightgreen; font-size:xx-large">AdminUser</h3>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript">
        $(function () {
            $(".btnfetch").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id')
                /* var id = $(this).closest("tr").find("td").eq(0).html();*/
                $.ajax({
                    type: "GET",
                    url: "/Admin/RPCompanyGridviewDetails",
                    data: {ReviewId:id},
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $("#partialModal").find(".modal-body").html(response);
                        $("#partialModal").modal('show');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
</script>
