@model JobPortalLibrary.JobSeeker.SeekerUser

@{
    ViewBag.Title = "PreferredJob";
    Layout = "~/Views/Shared/JobSeeker_Layout.cshtml";
}
<head>
    <style>
        .tabprofile {
            height: 160px;
            padding: 20px;
        }
    </style>
</head>




@foreach (var item in Model.lstuser)
{

    <div class="tabprofile">
        <div class="card" style="width:67rem;height:140px; margin-left:30px;border-radius:10px;box-shadow: 20px 10px 10px lightgrey">
            @using (Html.BeginForm("ADDEducationDetails", "JobSeeker", FormMethod.Post))
            {
                <dl class="dl-horizontal" style=" margin-left:30px;margin-top:10px">
                    <dd style="font-size:20px;color:black">
                        @Html.HiddenFor(modelItem => item.PostJobCode)
                    </dd>
                    <dd style="font-size:20px;color:black">
                        @Html.DisplayFor(modelItem => item.JobTitle)
                    </dd>
                    <dd style="font-size: 17px; color: darkslategray;margin-top:-14px;">
                        @Html.DisplayFor(modelItem => item.CompanyName)
                    </dd>
                    <dd style="font-size: 12px; color: darkslategray;margin-top:-10px;">
                        <i class='fas fa-briefcase'> @Html.DisplayFor(modelItem => item.TotalExperience)</i>
                        || <i class="fa fa-inr"> ₹@Html.DisplayFor(modelItem => item.CurrentSalary)</i>
                        || <i class="fa fa-map-marker"> @Html.DisplayFor(modelItem => item.Location)</i>
                    </dd>
                    <dd style="font-size: 14px; color: darkslategray;margin-top:-8px;">
                        @Html.DisplayFor(modelItem => item.JobType)
                    </dd>
                    <div class="form-group" style="margin-left:900px;margin-top:-10px">
                        <div class="col-md-offset-2 col-md-10">
                            @*<button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>*@
                            <input type="submit" value="APPLY" class="btn btn-primary" />
                        </div>
                    </div>
                </dl>
            }
         </div>
    </div>
}


