@model JobPortalLibrary.Employer.EmployerUser

@*@{
    Layout = null;
}*@
<style>
    .col-md-10{
        width:70px;margin-left:20px;height:50px
    }
    .wdn-text-hidden{
        font-size:0;
        width:1px;
        height:1px;
        display:inline-block;
        overflow:hidden;
        position:absolute!important;
        border :0!important;
        padding:0!important;
        margin:0!important;
        clip:rect(1px,1px,1px,1px);
    }
</style>
@*<script>

    $('.save').click(function () {
        //var selectedApplylist = new Array();
        //var val = [];
        //$("#multiselect:checked").each(function () {
        //    selectedApplylist.push($(this).val());

        //});

        var Applylist = sessionStorage.getItem("selected");
        var email = sessionStorage.getItem("email");
        var email1 = email.toString();
        
        var roundname = $("#RoundName").val();
        var statr = $("#StartTime").val();
        var end = $("#EndTime").val();
        var address = $("#InterviewAddress").val();
        var date = $("#InterviewDate").val();
        var comment = $("#Comment").val();
        $.post("/Employer/CreateRoundwithDetails",{ Applylist:Applylist, roundname:roundname, statr:statr, end:end, address:address, date:date, comment:comment, email1:email1 });
    });
</script>*@
@*<!DOCTYPE html>
    
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateRoundwithDetails</title>
</head>
<body>*@
@using (Html.BeginForm())
{
                @Html.AntiForgeryToken()

    <h1 class="wdn-text-hidden" id="vbData">@ViewBag.applyList</h1>
    <div style="height:80%;width:1000px;">
        @*<div>
            <hr />

            @Html.LabelFor(model => model.Applycodelist, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Applycodelist, new { htmlAttributes = new { @class = "form-control" }, style = "width:200px" })
                @Html.ValidationMessageFor(model => model.Applycodelist, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div>
            <hr />
            <div style="width:150px;">
                @Html.LabelFor(model => model.RoundName, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-10" style="width:200px;">
                @Html.EditorFor(model => model.RoundName, new { htmlAttributes = new { @class = "form-control" }, style = "width:1000px" })
                @Html.ValidationMessageFor(model => model.RoundName, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />


        <div class="form-group">

            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10" style="width:100px">
                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:100px">
                @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" }, style = "width:200px" })
                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.InterviewAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:450px;height:50px">
                @Html.TextAreaFor(model => model.InterviewAddress, new { @style = "height:120px;width:90%;" })
                @*@Html.EditorFor(model => model.InterviewAddress, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.InterviewAddress, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <br />
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.InterviewDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:150px">
                @Html.EditorFor(model => model.InterviewDate, new { htmlAttributes = new { @class = "form-control" }, style = "width:200px" })
                @Html.ValidationMessageFor(model => model.InterviewDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:150px">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" }, style = "width:200px" })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.InterviewType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:150px">
                @Html.DropDownListFor(model => model.InterviewType, new SelectList(ViewBag.list),"--Select--",  htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.InterviewType, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" formaction="@Url.Action("CreateRoundwithDetails", "Employer")" value="Schedule" formmethod="post" class="btn btn-info" />
                @*<a  @Html.ActionLink("Schedule", "CreateRoundwithDetails", new { applyList = Model.Applycodelist },htmlAttributes: new { @class = "btn btn-info" })></a>*@

                @*<input type="submit" value="Create" class="btn btn-default" />*@
            </div>
        </div>
    </div>  
}

@*</body>
</html>*@

<script>
    $(document).ready(function () {
        $("#ashish").css("height", 90);
    });
</script>