@model JobPortalLibrary.Employer.EmployerUser

@{
    ViewBag.Title = "Jobapplystud";
    Layout = "~/Views/Shared/Employer_Layout.cshtml";
}

<h2>Jobapplystud</h2>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        //$(".btn11").click(function () {
        //    var AppliedJobId = $(this).attr("data-id");
        //    var postjcode = $(this).attr("postjobcode");

        //    $.post("/Employer/Approve", { AppliedJobId: AppliedJobId, postjobcode: postjcode });
        //    /*$("#btn1").css({ backgroundColor: 'green' });*/
        //});
        $(".btn12").click(function () {
            var AppliedJobId = $(this).attr("data-id");
            var postjcode = $(this).attr("postjobcode");
            var url = "/Employer/Reject";

            $.post("/Employer/Reject", { AppliedJobId: AppliedJobId, postjobcode: postjcode })
            /*$("#btn2").css({ backgroundColor: 'green' });*/
        });
    });
</script>
<script>
    //$(document).ready(function () {
    //    $(".btn11").click(function () {
    //        $("#btn1").css({ backgroundColor: 'green' });
    //    });
    //});
    //$(document).ready(function () {
    //    $(".btn12").click(function () {
    //        $("#btn2").css({ backgroundColor: 'red' });
    //    });
    ///});*/*/
    //function changeBackgroundcolor() {
    //    var bg = document.getElementById(".btn11");
    //    bg.style.backgroundcolor = "green";
    //}
    //document.getElementById(".btn11").onclick = "green";
</script>

@*<style type="text/css">
        .btn11{
            background-color: red;

        }

        .btn11:hover{
            background-color: aqua;
        }
    </style>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<style>
    .container {
        margin-left: 320px;
    }
</style>


<div class="container">
    <div class="row" >
      
        <div class="col-sm-4 col-md-2 justify-content-center text-center card" style="width: 110px; border: solid blue 2px; background-color: aliceblue; height: 100px; color: black; text-decoration-thickness: 60px; box-shadow: 8px 8px 8px rgb(0,0,102);">
            @ViewBag.Active <br />
            <span class="caption">ACTIVE</span>
        </div>
        
        <div class="col-sm-4 col-md-2 justify-content-center text-center card" style="width: 110px; border: solid blue 2px; background-color: aliceblue; height: 100px; color: black; text-decoration-thickness: 60px; margin-left: 30px; box-shadow: 8px 8px 8px rgb(0,0,102); " >
            @ViewBag.Awaitingreview<br />
            <span class="caption">AWAITINGREVIEW</span>
        </div>
        <div class="col-sm-4 col-md-2 justify-content-center text-center card" style="width: 130px; border: solid blue 2px; background-color: aliceblue; height: 100px; color: black; text-decoration-thickness: 60px; margin-left: 30px; box-shadow: 8px 8px 8px rgb(0,0,102); ">
            @ViewBag.Review<br />
            <span class="caption">REVIEW</span>
        </div>
        <div class="col-sm-4 col-md-2 justify-content-center text-center card" style="width: 140px; border: solid blue 2px; background-color: aliceblue; height: 100px; color: black; text-decoration-thickness: 60px; margin-left: 30px; box-shadow: 8px 8px 8px rgb(0,0,102); ">
            @ViewBag.contacting<br />
            <span class="caption">CONTACTING</span>
        </div>
        <div class="col-sm-4 col-md-2 justify-content-center text-center card" style="width: 130px; border: solid blue 2px; background-color: aliceblue; height: 100px; color: black; text-decoration-thickness: 60px; margin-left: 30px; box-shadow: 8px 8px 8px rgb(0,0,102); ">
            @ViewBag.hire<br />
            <span class="caption">HIRE</span>
        </div>
        <div class="col-sm-4 col-md-2 justify-content-center text-center card" style="width: 130px; border: solid blue 2px; background-color: aliceblue; height: 100px; color: black; text-decoration-thickness: 60px; margin-left: 30px; box-shadow: 8px 8px 8px rgb(0,0,102); ">
            @ViewBag.Rejected<br />
            <span class="caption">REJECTED</span>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".btn11").click(function () {
            var parent = $(this).parent().parent();
            var AppliedJobId = $(this).attr("data-id");
            var postjcode = $(this).attr("postjobcode");

            $.get("/Employer/Approve", { AppliedJobId: AppliedJobId, postjobcode: postjcode }, function (data) {
                if (data == "Approve") {
                    parent.find(".status").html(data);
                    parent.find(".btn11").css({ backgroundColor: 'green' });
                    parent.find(".btn12").css({ backgroundColor: 'lightgrey' });
                } else if ((data == "Rejected")) {
                    parent.find(".status").html(data);
                    parent.find(".btn11").css({ backgroundColor: 'lightgrey' });
                }
            });

        });
        $(".btn12").click(function () {
            var parent = $(this).parent().parent();
            var AppliedJobId = $(this).attr("data-id");
            var postjcode = $(this).attr("postjobcode");

            $.get("/Employer/Reject", { AppliedJobId: AppliedJobId, postjobcode: postjcode }, function (data) {
                if (data == "Approve") {
                    parent.find(".status").html(data);
                    parent.find(".btn12").css({ backgroundColor: 'lightgrey' });
                } else if ((data == "Rejected")) {
                    parent.find(".status").html(data);
                    parent.find(".btn12").css({ backgroundColor: 'red' });
                    parent.find(".btn11").css({ backgroundColor: 'lightgrey' });
                }
            });

        });
        //$(".popup").click(function () {
        //    var parent = $(this).parent().parent();
        //    var AppliedJobId = $(this).attr("data-id");
        //    var postjcode = $(this).attr("postjobcode");
        //    $.get("/Employer/Jobapplystud", { AppliedJobId: AppliedJobId, postjobcode: postjcode }, function (data) {
        //        parent.html(data);
        //    });

        //});
    });


</script>
<style>
    <style>
        #tooltip {
            position: relative;
        width:100px;
        }

        #tooltip .logOutToolTip {
            visibility: hidden;
        width:200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 65%;
        left: 50%;
        margin-left: -81px;
        opacity: 1;
        transition: opacity 1s;
            }

        #tooltip .logOutToolTip::after {
            content: "";
        /* position: absolute;*/
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 8px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
                }

        #tooltip:hover .logOutToolTip {
            visibility: visible;
        opacity: 1;
     
            }
    </style>


@*<script>
        $(document).ready(function () {
            $("#popup").click(function (e) {
                e.preventDefault();
                $("#modal").remove();
                var url = $(this).attr("href");
                $.get(url, function (data) {
                    $(data).modal();
                });

            });
        });

    </script>*@
@*<script>
        $(function () {
            $('#popup').change(function () {
                var url = $(this).val();
                if (url != null && url != '') {
                    window.location.href = url;
                }
            });
        });
    </script>*@


<table class="table table-bordered table-striped mCS-light-thick dt-responsive nowrap" style="margin-left:320px;" font="5px; border:solid black 5px;">


    <tr style="border:solid black 3px;">
        <th style="width:100px;display:none">
            <label>Select</label>
        </th>
        <th style="display:none">
            @Html.DisplayNameFor(model => model.PostJobCode)
        </th>
        <th style="display:none">
            @Html.DisplayNameFor(model => model.Seekercode)
        </th>
        <th style="color:black">
            @Html.DisplayNameFor(model => model.AppliedJobId)
        </th >

        <th style="color:black">
            @Html.DisplayNameFor(model => model.SeekerName)
        </th>
        <th style="color:black">
            @Html.DisplayNameFor(model => model.ViewResume)
        </th>
        <th style="color:black">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th style="color:black">
            @Html.DisplayNameFor(model => model.ApplyDate)
        </th>
        <th style="color:black">
            @Html.DisplayNameFor(model => model.Eligible)
        </th>
        <th style="color:black">
            @Html.DisplayNameFor(model => model.Actions)
        </th>


    </tr>

    @foreach (var item in Model.joblist)
    {
        <tr class="application" style="border:solid black 2px;">
            <td style="display:none">
                <input type="checkbox" name="myTextEditBox" value="checked"
                       style="margin-left:auto; margin-right:auto;">
            </td>

            @*<td>
            <input type="checkbox" value="" name="select" id="chk" style="height:100px" />
        </td>*@
            <td class="pjccode" style="display:none" data-id="@item.PostJobCode">
                @Html.DisplayFor(modelItem => item.PostJobCode)
            </td>
            <td class="seekercode" data-id="@item.Seekercode" id="scode" style="display:none">
                @Html.DisplayFor(modelItem => item.Seekercode)
            </td>
            <td id="mahesh" data-id="@item.AppliedJobId" class="mahesh">
                @Html.DisplayFor(modelItem => item.AppliedJobId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeekerName)
            </td>
            <td style="text-decoration: underline; color:blue">
                
                    <a href="~/Content/images/@item.ViewResume">
                        View Resume</a>
                      

             
            </td>
           
            <!--<div id="tooltip">-->
            @*<a href="@Url.Action("ViewResume","Employer" ,new {AppliedJobId=item.AppliedJobId})">
            <span>@Html.DisplayFor(modelItem => item.ViewResume)</span>
            <label class="logOutToolTip">Click to see Resume</label>
        </a>*@
            <!--</div>-->

            <td class="status">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyDate)
            </td>
            <td>
               


                <input type="button" class="btn11" id="btn1" value="Approve" data-id="@item.AppliedJobId" postjobcode="@item.PostJobCode" />

                <input type="button" class="btn12" id="btn2" value="Reject" data-id="@item.AppliedJobId" postjobcode="@item.PostJobCode" />


            </td>
            <td>


                @Html.DropDownList("url", new SelectList(new[]{ new SelectListItem { Text = "View Phone Detail", Value = Url.Action("viewphonedetails", "Employer") },
                    new SelectListItem { Text = "Message", Value = Url.Action("Index", "Employer") },
                    new SelectListItem { Text = "Delete Candidate", Value = Url.Action("Deletecandidate", "Employer") },  }, "Value", "Text"), "-- Actions ---", new { @class = "popup" })
            </td>



        </tr>

    }
</table>
<button type="button" style="margin-left:320px;">
    @Html.ActionLink("Add Candidate", "Addcandidate", new { postjobcode=Model.PostJobCode})
    </button>



@*<script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@

<script type="text/javascript">
    //var TeamDetailPostBackURL = '/Admin/Details';
    $(function () {
        $(".popup").change(function () {
            var $buttonClicked = $(this);
            var url = $buttonClicked.val();
            //  var AppliedJobId = $("#appliedjob").val();
            //var AppliedJobId = $($this).val();
            //var AppliedJobId = ("#mahesh").attr('data-id')

            var parent = $buttonClicked.parent().parent();
            var AppliedJobId = parent.find(".mahesh").attr('data-id');
            var seekercode = parent.find(".seekercode").attr('data-id');
            var postjobcode = parent.find(".pjccode").attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            if (url == "/Employer/Deletecandidate") {
                var checkstr = confirm('are you sure you want to delete this?');
                if (checkstr == true) {
                    var url = $buttonClicked.val();
                    $buttonClicked.parent().parent().remove();
                } else {
                    url = "";
                }
            }
            $.ajax({
                type: "GET",
                url: url,
                data: { AppliedJobId: AppliedJobId, seekercode: seekercode },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (data) {
                    //$('#myModalContent').html(data);
                    //$('#myModal').modal(options);
                    //$('#myModal').find(".modal-body").html(data);
                    //$('#myModal').modal('show');
                    $(data).modal('show');
                    $.get("/Employer/Jobapplystud", { AppliedJobId: AppliedJobId, postjobcode: postjcode }, function (data) {
                        parent.html(data);
                    });
                },
                failure: function (data) {
                    alert("data.dataText");
                },
                error: function (data) {
                    alert("data.dataText");
                }
            });
        });
        //$(".btn").click(function () {
        //    $('#myModal').modal('hide');
        //});


    });</script>

